<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8"/>
    <title>Spring Framework Guru</title>
</head>
<body>
<h1>Author List</h1>

<table>
    <tr>
        <th>ID</th>
        <th>Firstname</th>
        <th>Surname</th>
    </tr>
    <tr th:each="author : ${authors}">
        <td th:text="${author.getId()}">123</td>
        <td th:text="${author.getFirstName()}">123</td>
        <td th:text="${author.getLastName()}"> Spring in Action</td>
    </tr>
</table>

</body>
</html>